*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height:100%;   
}
body{
    background-image: url(Tillbehör/träningframsida.jpg);
    background-size:100% auto;
    }
:root{
    --main-color:#f8b281;
    --secondary-color:#1b1b1b;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    background-position:center;
    background-size:cover;
    position:relative;

}

nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}

nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding:8px 12px;
    position: relative; 
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size:13px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: var(--main-color);
    display: block;
    margin: auto;
    transition:0.5s;
}
.nav-links ul li:hover:after{
    width:100%;
}

.kurser{
    color:#fff;
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.562);
}
/* Stylar rubriker, "font-weight" anger hur fetstilta tecknen ska vara*/
h1{
    font-size:36px;
    font-weight:600;
}
/* Stylar brödtexten*/
p{
    color:#ffffffc0;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
    
.container{
    background: #fff;
    margin:auto;
    padding-top:100px;
}
.grupp-col{
    padding:5%;
    border-radius:10px; /* Skalar av och rundar av bilderna*/
    text-align:left;
    text-align:center;
}
.grupp-col img{
    width:300px;
    border-radius:10px; 
}

.grupp-col p{
    color:var(--secondary-color);
}

.cta-main{
    margin-top:1.5rem;
    background-color:var(--main-color);
    color:var(--secondary-color);
    padding:0.5rem;
    font-size:1rem;
    border:none;
    border-radius:0.5rem;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.484);
}
.cta-main:hover{
    border:1px solid #ec9455;
    background: #ec9455;
    transition:1s;
}